.note {
    position: relative;
    display: flex;
    padding: 2rem;
    min-width: 35%;
    width: 200px;
    max-width: 300px;
    min-height: 100px;
    max-height: 200px;
    border: 1px solid black;
}

.noteText {
    display: block;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}